In [9]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split

In [10]:
data=pd.read_csv("PythonVariables.csv")

In [11]:
data.head()

  Variable  Length  StartsWithAlpha  ContainsSymbols  IsVariable
0        x       1                1                0           1
1       x1       2                1                0           1
2    alpha       5                1                0           1
3     Beta       4                1                0           1
4     gama       4                1                0           1

In [14]:
x=data[["Length","StartsWithAlpha","ContainsSymbols"]]
y=data[["IsVariable"]]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [15]:
from sklearn.tree import DecisionTreeClassifier  
clf = DecisionTreeClassifier(max_depth=500)
clf = clf.fit(x_train,y_train)

In [16]:
pred=clf.predict(x_test)

In [17]:
pred

array([1, 0, 1, 1], dtype=int64)

In [18]:
y_test

    IsVariable
14           1
19           0
3            1
27           1

In [19]:
x_test

    Length  StartsWithAlpha  ContainsSymbols
14      14                1                0
19       5                1                1
3        4                1                0
27       4                1                0

In [20]:
type(x_test)

pandas.core.frame.DataFrame